*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
position: relative;
}

.container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	flex-grow: 1;
	height: 100vh;
	width: 100vw;
	background-color: rgba(170, 193, 250, 0.467);
	margin-top: 8rem;
	margin-bottom: 8rem;
	font-size: 1.75rem;
}

div.content {
	position: relative;
	width: 60%;
	margin-top: 5rem;
	border: 0.5rem solid #fff;
	padding-top: 1.5rem;
	border-radius: 1rem;
	background-color: #fff;
	margin-left: 20%;
}

form.column {
	margin-top: 20%;
	margin-bottom: 30%;
}

div.panel-heading {
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 0.5rem;
	background-color:#f7bc09;
	margin-top: -1.5rem;
	padding-bottom: none;
}

div.panel-body {
	background-color: #e9ecef;
	padding: 0rem;
}

div.details {
	background-color: #e9ecef;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 1.25rem;
	padding-bottom: 1rem;
	margin-bottom: -2rem;
}
input#fname.input.input-fname {
	display: flex;
	width: 15rem;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	height: 3.5rem;
	margin-top: -0.75rem;
	margin-bottom: 2rem;
	margin-left: 0.75rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}
input#sname.input.input-sname {
	width: 15rem;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	height: 3.5rem;
	margin-top: -0.75rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

input#telephone.input.input-tel {
	display: flex;
	width: 15rem;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	height: 3.5rem;
	margin-top: -0.75rem;
	margin-bottom: 2rem;
	margin-left: 0.75rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

input#fcomment.comment-comment {
	display: flex;
	width: 60%;
	height: 12rem;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	margin-top: -1rem;
	margin-left: 0.75rem;
	margin-bottom: 2rem;;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}
input#date.input {
	width: 4rem;
	height: 2em;
	padding: 3px;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	margin-left: 0.75rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}
input#email.input {
	width: 15rem;
	padding: 3px;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	height: 3.5rem;
	margin-bottom: 3rem;
	margin-left: 0.75rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}
.fcomment.label.label.label-next {
	margin-top: 1rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

div.fcomment {
	margin-bottom: -20px;
}
div#accordion.panel-group {
	margin-bottom: 2rem;
}

div#accordion.panel-group {
	padding-bottom: -20px;
}
.label.label.label-fname {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0.75rem;
}
.label.label.label-sname {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0.75rem;
}
.label.label.label-email {
	margin-top: 3rem;
	margin-bottom: 1rem;
	margin-left: 0.75rem;
}

.label.label.label-tel {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0.75rem;
}
.label.label.label-comment {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.label.label.label-gender {
	margin-top: 1rem;
}
.label.label.label-dob {
	border-right: 2rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.label.label.label-next {
	display: flex;
	float: right;
	float: bottom;
	justify-content: center;
	align-items: center;
	background-color: #6f42c5;
	color: #fff;
	padding: 3px;
	width: 10rem;
	height: 3rem;
	border-radius: 8px;
	margin-top: -3.2rem;
	margin-right: 1rem;
	border-style: none;
}

select#gender {
	display: flex;
	width: 15rem;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	height: 3.5rem;
	margin-top: 3rem;
	margin-left: -6rem;
	padding-left: 0.75rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

#gender { 
	font-size: 1.5rem;
	color: gray;
}
.label.label.label-fname {
	color: black;
}
.label.label.label-sname {
	color: black;
}
label.label {
	display: flex;
	color: black;
}

.label.label.label-gender {
	color: black;
}

label.label.label-dob {
	padding-top: 2.5rem;
}

a.collapsed {
	color: #fff;
}

.names {
	display: flex;
	flex-direction: row;
	margin: none;
	height: 4rem;
	padding-top: none;
}

@media only screen and (max-width: 770px) {
  input#fname.input.input-fname {
    width: 100%;
		margin-left: 0.25rem;
	}
	input#sname.input.input-sname {
    width: 100%;
	}
	input#email.input {
		width: 60%;
		margin-left: 0.25rem;
	}
	input#telephone.input.input-tel {
		width: 50%;
		margin-left: 0.25rem;
	}
	.label.label.label-tel {
		margin-left: -0.50rem;
	}
	select#gender {
		width: 7.5rem;
		margin-left: -7rem;
	}
	.label.label.label-gender {
		margin-left: -0.75rem;
	}
	.label.label.label-fname {
		margin-left: -0.5rem;
	}
	.label.label.label-sname {
		margin-left: -0.75rem;
	}
	.label.label.label-email {
		margin-left: -0.5rem;
	}
	input#date.input {
		width: 15%;
	}
	.label.label.label-next {
		width: 30%;
	}
}


