
.container {
	height: 80vh;
	width: 100wv;
	background-color: rgba(170, 193, 250, 0.467);
	margin-top: 5rem;
	padding-top: 10rem;
}

div.details {
	background-color: lightgray;
	height: 40vh;
}
input#fname.input.input-fname {
	width: 12em;
	padding: 3px;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
}
input#sname.input.input-sname {
	width: 12em;
	padding: 3px;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
}
.label.label.label-fname {
	color: black;
}
.label.label.label-sname {
	color: black;
}
label.label {
	display: flex;
	color: black;
}

.label.label.label-next {
	display: flex;
	float: right;
	justify-content: center;
	align-items: center;
	background-color: rgb(65, 4, 122);
	color: #fff;
	border: 2px solid;
	padding: 3px;
	width: 10rem;
	height: 3rem;
	border-radius: 8px;
	margin-top: 0.5rem
}

input#email.input {
	width: 12em;
	padding: 3px;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
}
.names {
	display: flex;
	flex-direction: row;
	margin: 1rem;
}
.email {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	
}

button.btn.btn-info {
	display: flex;
	align-items: center;
	width: 100%;
	height: 6rem;
	background-color: hsl(45deg 100% 51%);
}

