*{
	box-sizing: border-box;
	margin: 0;
}

body {
position: relative;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
cursor: pointer;
}

.container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	flex-grow: 1;
	height: 100vh;
	width: 100vw;
	background-color: rgba(170, 193, 250, 0.467);
	margin-top: 8rem;
	margin-bottom: 8rem;
	font-size: 1.75rem;
}

.content {

	flex-direction: column;
	justify-items: last baseline;
	align-items: flex-end;
	position: relative;
	width: 60%;
	margin-top: 5rem;
	margin-bottom: -5rem;
	padding-top: 1.5rem;
	padding-bottom: -3rem;
	border-radius: 1rem;
	background-color: #fff;
	margin-left: 20%;
}

form.column {
	margin-top: 17%;
}

.panel-heading {
	display: flex;
	align-items: center;
	width: 100%;
	height: 5rem;
	border-radius: 0.5rem;
	background-color:#f7bc09;
	margin-top: -1.5rem;
}

.panel-body {
	background-color: #e9ecef;
	padding: 0rem;
	border-radius: 1rem;
}

.details1, .details2, .details3 {
	background-color: #e9ecef;
	width: 100%;
	padding: 0;
	margin: 0;
}

.details3 {
	padding-bottom: 0.5rem;
	border-radius: 1rem;
}
#fname.input.input-fname {
	display: flex;
	width: 16rem;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	height: 3.5rem;
	margin-top: -0.75rem;
	margin-bottom: 2rem;
	margin-left: 0.75rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}
#sname.input.input-sname {
	width: 16rem;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	height: 3.5rem;
	margin-top: -0.75rem;
	margin-left: 1rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

#telephone.input.input-tel {
	display: flex;
	width: 16rem;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	height: 3.5rem;
	margin-top: -0.75rem;
	margin-bottom: 2rem;
	margin-left: 0.75rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

#fcomment.comment-comment {
	display: flex;
	width: 60%;
	height: 12rem;
	border: 2px solid;
	border-color: lightgray;
	margin-top: -1rem;
	margin-left: 0.75rem;
	margin-bottom: 2rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.fcomment {
	padding-bottom: 0.5rem;
	margin-bottom: -20px;
}
#date.input {
	width: 4rem;
	height: 2em;
	padding: 3px;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	margin-left: 0.75rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}
#email.input {
	width: 16rem;
	padding: 3px;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	height: 3.5rem;
	margin-bottom: 3rem;
	margin-left: 0.75rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}
.fcomment.label.label.label-next {
	margin-top: 1rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

#accordion.panel-group {
	border: 0.5rem solid #fff;
	background-color: #e9ecef;
	border-radius: 1rem;
}

.panel-group {
	margin-bottom: 10px;
}

#collapse1.panel-collapse.collapse.in {
	border-radius: 1rem;
}
#collapse2.panel-collapse.collapse.in {
	border-radius: 1rem;
}
#collapse3.panel-collapse.collapse.in {
	border-radius: 1rem;
}
.label.label-fname {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0.75rem;
}
.label.label-sname {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0.75rem;
}
.label.label-email {
	margin-top: 3rem;
	margin-bottom: 1rem;
	margin-left: 0.75rem;
}

.label.label-tel {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0.75rem;
}
.label.label-comment {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.label.label-gender {
	margin-top: 1rem;
}
.label.label-dob {
	border-right: 2rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.label.label-next {
	display: flex;
	float: right;
	float: bottom;
	justify-content: center;
	align-items: center;
	background-color: #6f42c5;
	color: #fff;
	padding: 3px;
	width: 10rem;
	height: 3rem;
	border-radius: 8px;
	margin-top: -3.2rem;
	margin-right: 1rem;
	border-style: none;
	cursor: pointer;
}

#gender {
	display: flex;
	width: 15rem;
	border: 2px solid;
	border-color: lightgray;
	border-radius: 10px;
	font-size: 1.5rem;
	color: gray;
	height: 3.5rem;
	margin-top: 3rem;
	margin-left: -5rem;
	padding-left: 0.75rem;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.label.label-fname {
	color: black;
}
.label.label-sname {
	color: black;
}
label.label {
	display: flex;
	color: black;
}

.label.label-gender {
	color: black;
}

.label.label-dob {
	padding-top: 2.5rem;
}

a.collapsed {
	color: #fff;
}

.names {
	display: flex;
	flex-direction: row;
	margin: none;
	height: 4rem;
	padding-top: none;
}

@media only screen and (max-width: 770px) {
	.panel-heading {
		height: 4rem;
	}
  #fname.input.input-fname {
    width: 90%;
		margin-left: 0.25rem;
	}
	#sname.input.input-sname {
    width: 90%;
		margin-left: 0.25rem;
	}
	#email.input {
		width: 50%;
		margin-left: 0.25rem;
	}
	#telephone.input.input-tel {
		width: 70%;
		margin-left: 0.25rem;
	}
	.label.label-tel {
		margin-left: -0.50rem;
	}
	#gender {
		width: 7.5rem;
		margin-left: -7rem;
	}
	.label.label-gender {
		margin-left: -0.75rem;
	}
	.label.label-fname {
		margin-left: -0.5rem;
	}
	.label.label-sname {
		margin-left: -0.75rem;
	}
	.label.label-email {
		margin-left: -0.5rem;
	}
	#date.input {
		width: 16%;
	}
	.label.label-next {
		width: 30%;
	}
}


